# IDE & Tools
.env
.vscode
.idea
.github
.husky
.claude
CLAUDE.md
LICENSE
playwright.config.ts
.vscode
.example.env
Makefile
README.md
.prettierrc
.prettierignore
.git
**/*.md
Dockerfile
concurrently.config.ts
**/*.log

# Docker
compose.prod.yaml
compose.local.yaml
compose.yaml
.dockerignore
docker-bake.hcl
*.sh
biome.json
LICENSE
.editorconfig
/resources/
/test-results/

# Temp
/tmp/

# Node
**/node_modules/
**/dist/
**/tests/
**/build/
**/out/
**/tests/
**/.cache/
**/.next/
**/.nuxt/
**/.turbo/
**/.parcel-cache/
**/.vercel/
**/.expo/
**/.svelte-kit/
**/.gitignore
**/.expo-shared/
**/.env
**/tmp/

**/playwright-report/
**/playwright-local-report/

**/*.{test,spec}.{ts,tsx,js,jsx}

compose.e2e.yaml
compose.test.yaml

**/playwright.config.ts
**/playwright.local.config.ts
**/playwright.test.config.ts
**/global-setup.ts
**/global-teardown.ts

examples/
